#addQuestion {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & label {
    flex: 1;
    margin-bottom: 0.25rem;
    font-weight: 600;
  }

  & input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  & span {
    display: block;
    text-align: right;
    font-size: 0.75rem;
    /* width: 100%; */
    margin-right: 5px;
    font-weight: 100;
  }

  & button {
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    font-weight: 600;
  }
}
